<style>
  .overflow{
    overflow: hidden;
  }
  .qt-header {
    background-color: #ECECEC;
  }

  .qt-header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
  }
  @media screen and (max-width: 991px) {
    .qt-header__inner {
      padding: 10px 15px;
    }
  }

  .qt-header__logo a > img {
    width: 150px;
  }

  .qt-header .toggle-menu {
    display: none;
    cursor: pointer;
  }

  @media screen and (max-width: 991px) {
    .qt-header .toggle-menu {
      display: block;
    }
  }

  .qt-header .toggle-menu i {
    color: black;
    font-size: 18px;
  }

  @media screen and (max-width: 991px) {
    .qt-header__menu {
      display: none;
    }
  }


  .close-sidebar {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    z-index: 99;
    display: none;
  }

  .close-sidebar.active {
    display: block;
  }

  .sidebar.active {
    transform: translateX(0px);
  }

  .sidebar {
    position: fixed;
    top: 0;
    right: 0;
    width: 300px;
    height: 100%;
    background: #ECECEC;
    z-index: 999;
    display: none;
    transform: translateX(300px);
    transition: all 500ms;
    -webkit-box-shadow: -5px -5px 10px 0px rgba(211,211,211,1);
    -moz-box-shadow: -5px -5px 10px 0px rgba(211,211,211,1);
    box-shadow: -5px -5px 10px 0px rgba(211,211,211,1);
  }


  @media screen and (max-width: 991px) {
    .sidebar {
      display: block;
    }
  }

  .sidebar__inner {
    padding: 30px;
  }
  .sidebar__logo img{
    width:100px;
    transition: all 500ms;
  }
  .sidebar__logo {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .sidebar__menu {
    padding: 20px 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }
</style>


<div class="wrapper">

  <!-- header start -->
  <header>
    <div class="qt-header">
      <div class="qt-header__inner">

        <div class="qt-header__logo">
          <a href="{{ routes.root_url }}"><img src="{{ section.settings.header_logo | img_url: 'master' }}" alt="{{ section.settings.logo.alt | default: shop.name | escape }}"></a>
        </div>
        <div class="qt-header__menu">

          <div class="megamenu-a">
            <div class="nav-bar-mobile">
              <nav class="nav-bar" role="navigation">
                <div class="site-nav-dropdown_inner">
                  {% include 'maga-a-sitenav' %}
                </div>
              </nav>
            </div>
          </div>
         
        </div>
        <div class="toggle-menu">
          <i>
          <svg viewBox="0 0 100 80" width="20" height="20">
  <rect width="100" height="20"></rect>
  <rect y="30" width="100" height="20"></rect>
  <rect y="60" width="100" height="20"></rect>
</svg>
          </i>
        </div>
      </div>
    </div>
  </header>
  <!-- Header end -->

  <!-- Sidebar start -->
  <div class="sidebar">
    <div class="sidebar__inner">
      <div class="sidebar__logo">
        <a href="{{ routes.root_url }}"><img src="{{ section.settings.mobile_logo | img_url: 'master' }}" alt="{{ section.settings.logo.alt | default: shop.name | escape }}"></a>
      </div>
      <div class="sidebar__menu">
          <div class="megamenu-a">
            <div class="nav-bar-mobile">
              <nav class="nav-bar" role="navigation">
                <div class="site-nav-dropdown_inner">
                  {% include 'maga-a-sitenav' %}
                </div>
              </nav>
            </div>
          </div>
      </div>
    </div>
  </div>
  <div class="close-sidebar"></div>
  <!-- Sidebar end -->
</div>


{% schema %}
  {
    "name":"Qt-Custom Header",
    "max_blocks":1,
    "settings":[
        {
            "type":"image_picker",
            "id":"header_logo",
            "label":"Header Desktop Logo"
        },
		{
            "type":"checkbox",
            "id":"display_megamenu",
            "label":"Display Mega Menu?",
            "default":true
        },
        {
            "type":"link_list",
            "id":"new_menu",
            "label":"Menu Items"
        },
        {
            "type":"image_picker",
            "id":"mobile_logo",
            "label":"Moible Logo"
        }
    ],
    "blocks":[
        {
            "type":"block-1",
            "name":"Block 1",
            "settings":[
                {
                    "type":"text",
                    "id":"title",
                    "label":"Megamenu-one",
                    "default":"Megamenu-one"
                },
                {
                    "type":"text",
                    "id":"megamenu_items_1",
                    "label":"Mega Menu Items for Style 1",
                    "default":"Catalog"
                },
                {
                    "type":"link_list",
                    "id":"first_menu",
                    "label":"First Menu"
                },
                {
                    "type":"link_list",
                    "id":"second_menu",
                    "label":"Second Menu"
                },
                {
                    "type":"link_list",
                    "id":"menu_three",
                    "label":"Menu Three"
                }
            ]
        },
        {
            "type":"block-2",
            "name":"Block 2",
            "settings":[
                {
                    "type":"text",
                    "id":"title",
                    "label":"Megamenu-two",
                    "default":"Megamenu-two"
                },
                {
                    "type":"text",
                    "id":"megamenu_items_1",
                    "label":"Mega Menu Items for Style 2",
                    "default":"Catalog"
                },
                {
                    "type":"link_list",
                    "id":"first_menu",
                    "label":"First Menu"
                },
                {
                    "type":"link_list",
                    "id":"second_menu",
                    "label":"Second Menu"
                },
                {
                    "type":"text",
                    "id":"image_link",
                    "label":"Link for Image"
                },
                {
                    "type":"image_picker",
                    "id":"image_select",
                    "label":"Menu Three"
                }
            ]
        },
        {
            "type":"block-3",
            "name":"Block 3",
            "settings":[
                {
                    "type":"text",
                    "id":"title",
                    "label":"Megamenu-three",
                    "default":"Megamenu-three"
                },
                {
                    "type":"text",
                    "id":"megamenu_items_1",
                    "label":"Mega Menu Items for Style 3",
                    "default":"Catalog"
                },
                {
                    "type":"text",
                    "id":"first_image_link",
                    "label":"Link for Image"
                },
                {
                    "type":"image_picker",
                    "id":"first_image_select",
                    "label":"Menu Three"
                },
                {
                    "type":"text",
                    "id":"second_image_link",
                    "label":"Link for Image"
                },
                {
                    "type":"image_picker",
                    "id":"second_image_select",
                    "label":"Menu Three"
                },
                {
                    "type":"text",
                    "id":"three_image_link",
                    "label":"Link for Image"
                },
                {
                    "type":"image_picker",
                    "id":"three_image_select",
                    "label":"Menu Three"
                }
            ]
        }
    ],
    "presets":[
        {
            "name":"Qt-header-one",
            "category":"custom"
        }
    ]
}
{% endschema %}